@use 'base/variables' as v;
@use 'base/mixins' as m;

.iconos-nosotros{
    @include m.tablet{
        @include m.grid(3, 3rem);
    }
}

.icono{
    text-align: center;
    margin-top: 5rem;
    img{
        height: 10rem;
    }
    h3{
        text-transform: uppercase;
    }
}